.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #0097A7; 
    -webkit-box-shadow: inset 0 0 6px #0097A7; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #0097A7; 
}


body{
    background-color: rgb(250, 250, 250);
}

.center {
    text-align: center !important;
}

.fullWidth{
    width: 100%;
}

.halfWidth{
    width: 50%;
}

.fullHight{
    height: 100%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.whiteBackground{
    background: #ffffff;
}

.zeroPadding{
    padding: 0px !important;
}

.positionInherit{
    position: inherit !important;
}

a{
    text-decoration:none !important;
}

a:link {
    color: none;
}

/* visited link */
a:visited {
    color: none;
}

/* mouse over link */
a:hover {
    color: none;
}

/* selected link */
a:active {
    color: none;
}

.profileButtion{
    color: #f3f3f3 !important;
}

/* .mat-input-placeholder.mat-empty{
    display: block;
    color: gray !important;
} */

.mat-input-placeholder {
    color: gray;
}

.eventCard{
    background: #fbfbfb;
}

.padingFivebottom{
    padding-bottom: 5px;
}

.pointerCursor{
    cursor:pointer
}

.appbar{
    background: #0097A7;
    color: rgba(255,255,255,.87);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.kep-login-facebook.metro {
    border-radius: 0;
    width: 100%;
    font-size: 9px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}